* { box-sizing: border-box; }

body { background-color: #D2B48C;
       color: #221811;
	   font-family: Tahoma, Arial, sans-serif; 
	   margin: 0;
	   
}
#wrapper { background-color: #231814;
		   padding: 0;
}   
header { background-color: #D2B48C; 
         color: #231814;  
		 padding-top: 5px;
		 padding-bottom: 5px;
		 padding-left: 105px;
		 background-image: url(cup.jpg);
		 background-repeat: no-repeat;
		 height: 128px;
		 padding-left: 0;
		 text-align: center;
}
h1 { font-size: 3em; }

h2 { color: #8C3826; }

h3, dt { color: #8C3826; }

h4 { background-color: #D2B48C;
     font-size: 1.2em;
	 padding-left: .5em;
	 padding-bottom: 0em; 
	 text-transform: uppercase;
	 border-bottom: 1px solid #221811;
	 clear: left;
	 margin-left: 10%;
	 margin-right: 10%;
} 
nav { text-align: center;
	  font-size: 1.5em;	  
}
nav a { text-decoration: none; }

nav a:link{color: #FEF6C2;}

nav a:visited {color: #D2B48C;}

nav a:hover {color: #CC9933;}

nav ul {list-style-type: none; 
	padding-left: 0;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-direction: row;
}

nav li {padding-top: .5em;
		padding-bottom: .5em;
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
		border-bottom: none;
}

main { display: block;
	   padding: 0 0 2em 0;	   
	   background-color: #FEF6C2;
	    
}	  
.details { padding-left: 20%;
           padding-right: 20%;
		   overflow: auto; 
		   flex-direction: row;}
		   

table {text-align: center;
		width: 90%;
		 border-spacing: 0;}		
		 
td,th {padding: 10px;
		 
		}		 

tr:nth-of-type(odd){background-color: #D2B48C;}
		   
img { padding-left: 10px;
	  padding-right: 10px; }

form { width: 40%;
		display: grid;
		grid-template-columns: 6em 1fr;
		grid-gap: 1em; gap: 1em;
		}	  

input[type="submit"] { grid-column: 2;
						width: 9em;}	

input, textarea { margin-bottom: .5em;}		
	  
#herojobs { height: 300px;
			background-image: url(herojobs.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}	  
	  
#homehero { height: 50vh;
            background-image: url(hero.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%; 
}
#heromugs { height: 300px;
            background-image: url(heromugs.jpg);
			background-repeat: no-repeat;
            background-size: 100% 100%;  
}
#heroguitar { height: 300px;
            background-image: url(heroguitar.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%; 
}


footer { background-color: #D2B48C;
         font-size: .60em;
		 font-style: italic;
		 text-align: center;
		 padding-bottom: 1em;
		 border-top: 2px solid #8C3826;
}
 h2, h3, h4, p, div, ul, dl{padding-left: 1em; 
							padding-right: 1em;
							
} 

main ul {padding-left: 2em;}

#mobile {display: none;
	     
		}

#desktop {display: inline;

}



header a { text-decoration: none; }

header a:link {color: #231814;
				text-decoration: none; } 
				
header a:visited {color: #231814;
					text-decoration: none; }

header a:hover { color: #FEF6C2;
					text-decoration: none; }

#flow {flex-direction: row;

}


 